@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-100;
  }
}

/* Custom scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700 transition-colors;
}
